@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
}

.container{
    background: linear-gradient(114.09deg, #4D39CA 10.86%, rgba(236, 14, 14, 0.505208) 103.36%, rgba(49, 183, 94, 0) 103.37%);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title{
    width: 100%;
    height: 80px;
    text-align: center;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.cheks{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

input[type="text"]{
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border-style: none;
    outline: 0;
}

.down-but{
    margin-top: 50px;
    width: 90px;
    height: 40px;
    background-image: url("./images/icon-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.down-but:hover{
    background-image: url("./images/icon-down-hover.svg");
}

.downloader{
    text-align: center;
}

.directory{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-down{
    width: 50px;
    height: 40px;
    background-image: url("./images/icon-dir.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-down:hover{
    background-image: url("./images/icon-dir-hover.svg");
}

.path{
    width: 100%;
    height: 40px;
    text-align: center;  
}
