@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.container {
    background: linear-gradient(114.09deg, #4D39CA 10.86%, rgba(236, 14, 14, 0.505208) 103.36%, rgba(49, 183, 94, 0) 103.37%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 80px;
    text-align: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


input[type="text"] {
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border-style: none;
    outline: 0;
}

.search-div{
    display: flex;
    height: 40px;
    align-items: flex-end;
    justify-content: center;
}

.down-but {
    margin-top: 50px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-image: url("./images/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.downloader {
    text-align: center;
    width: 70%;
}

.directory {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-down {
    width: 50px;
    height: 40px;
    background-image: url("./images/icon-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-down:hover {
    background-image: url("./images/icon-down-hover.svg");
}

.path {
    width: 100%;
    height: 40px;
    text-align: center;
}

.progress-container {
    width: 70%;
    height: 25px;
}

.progress {
    width: 100%;
}

#info{
    display: block;
    height: 120px;
    overflow-y: auto;
}

.info-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.info-div::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
.info-div::-webkit-scrollbar-track {
    background: #bc6b9d;        /* color of the tracking area */
}
.info-div::-webkit-scrollbar-thumb {
    background-color: #6a46be;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #6a46be;  /* creates padding around scroll thumb */
}